@import 'tailwindcss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  /* background: #212121;   ChatGPT main bg */
  /* color: #ececec; */
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  /* background: #3f3f46; */
  border-radius: 4px;
}

